
body {
  background: linear-gradient(-45deg, #f012b8, #048692);
}

.noBooks{
  padding: 3rem;
  font-family: display;
  font-size: 45px;
  text-align: center;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.carousel-caption .btn-primary {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-danger {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.carousel, .navbar, .add-book {
  width: 70vw;
  margin: 0 auto;
}

.add-book > * {
  width: 70vw;
  border-radius: 0 !important;
}

.carousel-image {
  width: 100%;
  height: 100%;
  /* height: 600px; */
  margin: auto;
}
