
body {
  background: linear-gradient(-45deg, #f012b8, #048692);
  height: 100vh;
}

.noBooks{
  padding: 3rem;
  font-family: display;
  font-size: 45px;
  text-align: center;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.carousel-caption .btn-primary {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-danger {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.carousel, .navbar, .add-book {
  width: 70vw;
  margin: 0 auto;
}

.add-book > * {
  width: 70vw;
  border-radius: 0 !important;
}

img.carousel-image {
  width: 100%;
  display: block;
}

.separator {
  flex-grow: 2;
}

.profile-picture {
  border-radius: 50%;
  transition: 0.25s all ease-in-out;
}

.profile-picture:hover {
  filter: brightness(50%);
}
.profile {
  margin: auto;
  width: 50vw;
  /* border: 5px solid #4a4a4a; */
  padding: 10px;
}
.profile img, p, h2{
  display: block;
  border-radius: 100px;
  /* border: 1px solid; */
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  font-family: display;
  /* text-transform: uppercase; */
}
.profile h2{
  color: black;
}
.userBooks, h1, p{
  text-align: center;
}
.loading{
  text-align: center;
}
